html {
  background-color: #FFE9D0;

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,Source Sans Pro, 'Varta', sans-serif;
    overflow-y: overlay;
    scrollbar-gutter: stable;
    margin-right: 10px;
    color:  #FFE9D0;

}

h1{
    margin:auto;
    text-align: center;
}

.bg-wallpaper {
  background-color: #FFE9D0;

}

/* navbar text */
.navbar-brand-1 {
  font-family: Source Sans Pro;
  font-weight:500;
  
}

/* navbar box */
.navbar {
  
  width: auto;
  height: 70px;
  background-color:#AD735F;
  box-shadow: 1px 1px 5px grey;
  color : white;
  
}



/* gray search bar */
.search_box input[type="text"]{
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border: 2px #fff;
  border-radius: 20px;
  color: #fff;
  outline: none;
  position: fixed;
  top: q0;
  overflow: hidden;
}

/* box below navbar box */
.wrapper {
  padding-bottom: 150px;
  width:100%;

}



/* table heading box */
#table_h{
  background-color: #AD735F;
  color: #fff;
}

/* entire table */
.table-striped {
  box-shadow: 1px 1px 5px grey;

  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
  border-width: 1px;
  padding: 1px;
  background-color: white;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #56423C;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

