body{
    background-color: rgb(255, 234, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: 'Segoe UI';
  
}

h1{
    background-color:rgb(52, 87, 117);
    margin:auto;
    text-align: center;
    
}

p{
  background-color:bisque;  
  padding: 10px 0px 10px 20px;
  display:flex;
  border: 8px solid black;
  flex-direction: row;
}


.content-table {
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: rgb(52, 87, 117);
  color: #ffffff;
  text-align: right;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
 
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  text-align: right;
  
  
}

.content-table tbody tr:nth-of-type(odd) {
  background-color: #e2e2d9;
  text-align: right;
  
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(52, 87, 117);
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: rgb(52, 87, 117);

}


.container .input{
	border: 0;
	outline: none;
	color: #8b7d77;
  
}

.search_box{
  width: 50%;
  position: fixed;

}

.search_box input[type="text"]{
  width: 100%;
  padding: 20px;
  padding-right: 60px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border: 2px #fff;
  border-radius: 10px;
  color: #fff;
  outline: none;
}

.fa-search{
  width: 50%;
  position: fixed;
  color: #fff;
  right: 8%;
  top: 6.5%;
}